{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href= "{% static 'reviews/styles.css' %}">

</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Reviews</h3>
            </div>
        </div> 
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
            <div class="form-control" {% if f.errors %} errors {% endif %}>
                {{f.label_tag}}
                {{f}}
                {{f.errors}}
            </div>
        {% endfor %}

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>